﻿* {
    text-transform: uppercase !important;
    font-weight: 500;
}

.legendColorBox {
    padding-right: 5px;
}

.form-group-md {
    width: 50%;
    float: left;
}

.padding-2 {
    padding-left: 2%;
}

.tr-red {
    background-color: #C62828;
}

.tr-yellow {
    background-color: #FFEB3B;
}

.tr-blue {
    background-color: #283593;
    color: #FFF;
}

.div-results {
    margin-top: 20px;
}

.tr-red {
    background: red;
    color: #FFF;
}

.tr-green {
    background: #2E7D32;
    color: #FFF;
}

    .tr-red a, .tr-green a, .tr-blue a {
        text-decoration: none;
        color: #FFF !important;
    }

.tr-yellow a {
    text-decoration: none;
    color: #000 !important;
}

.result-label {
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 9px;
    z-index: 100000;
    top: 150px !important;
    width: 200px;
    background-image: -webkit-linear-gradient(top, #F5C217 0%, #DBAD18 100%);
    background-image: linear-gradient(to bottom, #F5C217 0%, #DBAD18 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffbb2a2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #DBAD18;
    border-radius: 0 0 5px 5px !important;
}

input[type="text"]:disabled, button:disabled, input:disabled, a:disabled {
    cursor: not-allowed !important;
}

.row-stat {
    text-align: center;
}

/*
body {
    background-image: url('bg-admin-3.png');
    background-repeat: repeat;
    background-size: 250px auto;
}


#div-results .grid-wrap {
    max-width: 100%;
    overflow-x: scroll;
}
*/
