﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Icon Setup -->
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")"/>

    <link href="~/Content/themes/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="~/Content/themes/inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/Content/themes/inspinia/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/Content/themes/inspinia/css/animate.css" rel="stylesheet">
    <link href="~/Content/themes/inspinia/css/style.css" rel="stylesheet">

    <!--<link href="http://webapplayers.com/inspinia_admin-v2.2/css/plugins/iCheck/custom.css" rel="stylesheet">-->
    <!--<link href="http://webapplayers.com/inspinia_admin-v2.2/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="pace-done">
    <div id="wrapper">
        @{Html.RenderPartial("_Menu");}
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @{Html.RenderPartial("_SearchBar");}
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUi")
    @Scripts.Render("~/bundles/script/blockUi")
    @Scripts.Render("~/bundles/script/popup")
    
    <!-- Mainly scripts -->
    <!--<script src="~/Content/themes/inspinia/js/jquery-2.1.1.js"></script>-->
    <script src="~/Content/themes/inspinia/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <!-- Gmaps scripts -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAkjaRIXsmYovuvYgY-Pmu2TXR82JCc_aE"></script>
    <script src="~/Content/gmaps/gmaps.js"></script>

    <!-- Flot -->
    <script src="~/Content/themes/inspinia/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="~/Content/themes/inspinia/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/themes/inspinia/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Content/themes/inspinia/js/inspinia.js"></script>
    <script src="~/Content/themes/inspinia/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/themes/inspinia/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Gritter -->
    <script src="~/Content/themes/inspinia/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="~/Content/themes/inspinia/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/Content/themes/inspinia/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="~/Content/themes/inspinia/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="~/Content/themes/inspinia/js/plugins/toastr/toastr.min.js"></script>

    <!-- Pace 
    <script src="http://webapplayers.com/inspinia_admin-v2.2/js/plugins/pace/pace.min.js"></script>-->

    <!-- iCheck -->
    <script src="~/Content/themes/inspinia/js/plugins/iCheck/icheck.min.js"></script>
    
    <!-- Nestable 
    <script src="http://webapplayers.com/inspinia_admin-v2.2/js/plugins/nestable/jquery.nestable.js"></script>-->

    <!-- Momentjs -->
    <script src="~/Content/moment/moment.js"></script>
    <script src="~/Content/moment/moment-with-locales.js"></script>
    <script src="~/Content/popup/jquery.magnific-popup.js"></script>

    <!-- Title Alert -->
    <script src="~/Content/titleAlert/jquery.titlealert.min.js"></script>

    <!-- Pages script -->
    <script src="~/Scripts/Pages/default.js"></script>
    <script src="~/Scripts/Pages/modal-occurrence.js"></script>
    <script src="~/Scripts/Pages/modal-occurrence-pmrj.js"></script>
    <script src="~/Scripts/Pages/modal-user.js"></script>

    @{Html.RenderPartial("_WebMessage");}
    @{Html.RenderPartial("_ModalUser");}
    @{Html.RenderPartial("_DeleteModal");}
    @{Html.RenderPartial("_GenericModal");}
    
    @RenderSection("scripts", required: false)
</body>
</html>
