﻿@if (TempData["RedirectReason"] != null)
{
    <Text>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };

                @if(TempData["RedirectReasonType"].ToString().ToLower().Equals("success"))
                    {
                        <text>
                toastr.success('SUCESSO!', "@Html.Raw(@TempData["RedirectReason"])");
                </text>
                    }
                    else if(TempData["RedirectReasonType"].ToString().ToLower().Equals("error"))
                    {
                        <text>
                toastr.error('ERRO!', "@Html.Raw(@TempData["RedirectReason"])");
                </text>
                    }
                    else
                    {
                    }

            }, 1300);
        });
    </script>
    </Text>
}