﻿@{
    ViewBag.Title = "Elog API";
}

@section scripts {
    <script>
        
    </script>
}
<style>
</style>

<div class="content">
    <div class="container">
        <div class="row">
            <h2>Bem vindo ao painel administrativo da Elog API.</h2>
        </div>
    </div>
</div>
